/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/08/2020, 13:16:35
    Author     : usuario
*/
html,body { 
    height: 100%; 
   
}
.container{
    height:100%;
     width : 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centro{
   align-items: center;
   justify-content: center; 
   text-align: center;
}

 form{
    padding: 15px;
    font-size: 14px;
   
    background-color: #f5f5f5;
}

